
<div class="panel panel-default btn-group" role="group">
  <button type="button" id="btnMainPanel" class="btn btn-default">
    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
  </button>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Configuración general</div>
  <div class="panel-body">
    
    <form id="configForm">
      <div class="checkbox">
	<label>
	  {{if .AppConfig.PublicBlob}}
	  <input type="checkbox" name="PublicBlob" id="PublicBlob" checked="checked">Blobs públicos
	  {{else}}
	  <input type="checkbox" name="PublicBlob" id="PublicBlob" >Blobs públicos
	  {{end}}
	</label>
      </div>
      <button type="button" id="btnNewConfig" class="btn btn-default pull-right">
	<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      </button>
    </form>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Exportar/Importar</div>
  <div class="panel-body">

    <p>Puede exportar los puntos introducidos junto con sus
    descripciones, posiciones geográficas y demás datos pulsando sobre
    el siguiente enlace (las imágenes no se incluyen)</p>
    <div class="text-center" >
      <a href="/points/export">Exportar puntos</a>
    </div>

    <hr>

    <p>A través del siguiente recuadro puede introducir un fichero con
  datos sobre puntos para que sean importados a la base de datos</p>
    <form id="importPointsForm" role="form">
      <div class="form-group">
	<!-- <label for="ejemplo_archivo_1">Adjuntar un archivo</label> -->
	<input type="file" id="importFile"/>
	<button type="button" id="btnImportFile" class="btn btn-default pull-right">
	  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
	</button>

	<p class="help-block">Revise la <a href="/help">documentación</a> para confirmar el formato correcto.</p>
      </div>
    </form>
  </div> 
</div>

<!-- 
<div class="panel panel-default">
<div class="panel-heading">Administración de Etiquetas</div>
<div class="panel-body">
<form id="tagsConfigForm">
<input class="form-control" type="text" id="newTag" name="newTag" placeholder="Etiqueta nueva"/>
</form>

<ul class="list-group">
{{range .AllTagsNames}}
<li class="list-group-item"><span class="label label-default">{{.Name}}</span>
<a class="pull-right" href="/points/tags/edit?id={{.Id}}">
<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
</a> 
<a class="pull-right" href="/points/tags/delete?id={{.Id}}">
<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
</a>
</li>
{{end}}
</ul>
</div>
</div>
-->
