<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Points from Nomadas</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  </head>
  <body>
    {{range .Content}}
    <ul class="point" id="{{.Id}}">
      <li class="name">{{.Name}}</li>
      <li class="time">{{.TimeStamp}}</li>
      <li class="lat">{{.Lat}}</li>
      <li class="lon">{{.Lon}}</li>
      <li class="desc">{{.Desc}}</li>
      <li class="tags">
	{{range .Tags}}[{{.}}]
	{{end}}
      </li>
      {{if .ImageKey}}<li class="image">{{.ImageKey}}</li>
      {{end}}
    </ul>
    {{end}}
  </body>
</html>
