
<div class="panel panel-default btn-group" role="group">
  <button type="button" id="btnMainPanel" class="btn btn-default">
    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
  </button>
  <button type="button" id="btnNewPoint" class="btn btn-default">
    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
  </button>
</div>

<form id="formNewPoint" method="post" enctype="multipart/form-data">
  {{if .Content}}
  <input type="hidden" id="Id" name="Id" value="{{.Content.Id}}">
  <input type="hidden" id="Public" name="Public" value="true">
  {{end}}
  <div class="form-group">
    <label>Nombre</label>
    {{if .Content.Name}}
    <input type="text" class="form-control" name="Name" value="{{.Content.Name}}">
    {{else}}
    <input type="text" class="form-control" name="Name" placeholder="Nuevo Punto">
    {{end}}
  </div>

  {{if .Content}}
     {{if .Content.Public}}
       <p><button type="button" class="btn btn-default" id="btnVisibility"><span class="text">Público</span>  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button></p>
     {{else}}
       <p><button type="button" class="btn btn-default" id="btnVisibility"><span class="text">Privado</span>  <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></button></p>
     {{end}}
  {{else}}
       <p><button type="button" class="btn btn-default" id="btnVisibility"><span class="text">Público</span> <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button></p>
  {{end}}


  {{if .Content}}
  <p><strong>Posición: </strong> <span id="Lat">{{.Content.Lat}}</span>, <span id="Lon">{{.Content.Lon}}</span></p>
  {{else}}
  <p><strong>Posición: </strong> <span id="Lat"></span>, <span id="Lon"></span></p>
  {{end}}


  <div class="form-group">
    <label>Descripción:</label>
    <textarea name="Desc" class="form-control">{{.Content.Desc}}</textarea>
  </div>

  <div class="fileinput fileinput-new" data-provides="fileinput">
    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
    <div>
      <span class="btn btn-default btn-file"><span class="fileinput-new glyphicon glyphicon-folder-open"></span><span class="fileinput-exists">Change</span><input type="file" name="Image"></span>
      <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
    </div>
  </div>

  <div class="form-group tags-panel">
    <p><label>Categorias:</label></p>
    {{if .Content}}
      {{$point := .Content}}
      {{range .AllTagsNames}}
       {{if  $point.HasTag .Name}}
       <a href="#" class="label label-default label-primary">{{.Name}}</a>
       {{else}}
       <a href="#" class="label label-default">{{.Name}}</a>       
       {{end}}
      {{end}}
    {{else}}
      {{range .AllTagsNames}}
        <a href="#" class="label label-default">{{.Name}}</a>
      {{end}}
    {{end}}
  </div>
</form>
