
<div class="panel panel-default btn-group" role="group">
  <button type="button" id="btnMainPanel" class="btn btn-default">Inicio</button>
  <button type="button" id="btnNewPoint" class="btn btn-default">Crear</button>
</div>

<form id="formNewPoint" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label>Nombre</label>
    {{if .Content.Name}}
    <input type="text" class="form-control" name="Name" value="{{.Content.Name}}">
    {{else}}
    <input type="text" class="form-control" name="Name" placeholder="Nuevo Punto">
    {{end}}
  </div>

  {{if .Content}}
  <p><strong>Posición: </strong> <span id="Lat">{{.Content.Lat}}</span>, <span id="Lon">{{.Content.Lon}}</span></p>
  {{else}}
  <p><strong>Posición: </strong> <span id="Lat"></span>, <span id="Lon"></span></p>
  {{end}}

  <div class="form-group">
    <label>Descripción:</label>
    <textarea name="Desc" class="form-control">
      {{.Content.Desc}}
    </textarea>
  </div>

  <div class="fileinput fileinput-new" data-provides="fileinput">
    <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
    <div>
      <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="Image"></span>
      <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
    </div>
  </div>

  <div class="form-group tags-panel">
    <p><label>Categorias:</label></p>
  </div>
</form>
