{{define "content"}}

<div class="form-group col-md-12">
  <div class="row col-md-12 ">
    <ul class="nav nav-pills text-right">
      <li role="presentation" class="active"><a href="#" onclick="window.history.back()" >Volver</a></li>
      {{if .UserProfile}}
      <li role="presentation" ><a href="/users/edit?id={{.Content.Id}}">Editar</a></li>
      <li role="presentation" ><a href="/users/delete?id={{.Content.Id}}">Borrar</a></li>
      {{end}}
    </ul>
  </div>
</div>


<div class="panel col-md-6 col-md-offset-3">
  <h2>{{.Content.Name}}</h2>
  <p><strong>Rol: </strong>{{.Content.GetInfo.RoleName}} </p>
  <p><strong>Email: </strong>{{.Content.GetEmail}} </p>
  <p><strong>Alta: </strong>{{.Content.GetInfo.TimeStamp}} </p>
  <p><strong>Etiquetas: </strong></p>
  {{range .Content.Tags}}
    <span class="label label-default">{{.}}</span>
  {{end}}

</div>

{{end}}
