
<!--  <div class="panel panel-default btn-group" role="group">
  <button type="button" id="btnSearchPanel" class="btn btn-default">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  </button>
</div>-->

{{if eq .Content.Id -1}}
<div class="panel panel-danger">
  <div class="panel-heading">Atención</div>
  <div class="panel-body">
      La aplicación acaba de ser instalada y no tiene la información 
      necesaria en la base de datos para comenzar a funcionar. Pulse el botón de iniciar
      para crear los datos iniciales en la base de datos.
    <div class="row text-center">
      <button type="button" id="firstboot-app" class="btn btn-default btn-danger">Iniciar aplicación</button>
    </div>
    <script>
     $("#firstboot-app").click(firstbootApp)
    </script>
  </div>
</div>
{{end}}

<div class="panel panel-default user-panel">
  <div class="panel-heading">Bienvenido {{.Content.Name}}</div>
  <div class="panel-body">

    <img id="main-logo" class="pull-right" src="/images/logo-round.png"  alt=""> 

    <p>Hola <strong>{{.Content.Name}}</strong>. Bienvenido a Nomadas App.</p>

    <p>Nomadas App es una aplicación para gestionar una colección de
      puntos donde tu y otros usuarios recomiendan e intercambian
      lugares donde acampar, pecnotar y aparcar vuestras campers.</p>
    

  </div>
</div>



<div class="panel panel-default">
  <div class="panel-heading">Filtrar y buscar</div>
  <div class="panel-body">
    <div class="form-group tags-panel">
     {{range .AllTagsNames}}
      <a href="#" class="label label-default">{{.Name}}</a>
     {{end}}
    </div>
    <div class="results pull-right">Mostrando <span class="showed">{{.TotalPoints}}</span> de {{.TotalPoints}}</div>
  </div>
</div>



<div class="panel panel-default">
  <div class="panel-heading">Actividad</div>
  <div class="panel-body">
    
    <p>Tienes creados <span id="total-points">{{.TotalPoints}}</span> puntos y <span
  id="total-regs">{{.TotalCheckins}}</span> registros. Pulsa el botón para tus últimos
  lugares visitados:

      <p><button class="btn btn-info" data-toggle="collapse" data-target="#last-regs">Últimos registros</button></p>
      <ul id="last-regs" class="list-group collapse">
      {{$checkins:=.Checkins}}
      {{range $i,$c:= .Checkins}}
      {{$pname := index $.PointNames $i}}
	<li class="list-group-item">{{.GetTimeStamp}} en {{$pname}}</li>
      {{end}}
      </ul>

  </div>
</div>

